@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
.title-h1, h1 {
  font-family: 'Arvo', serif;
}
.list-product .holder-img:before {
  display: none;
}
.list-product .holder-img img {
 position: relative;
}
.logo-tomato {
  display: none;
}
#wa-button {
  position: fixed !important;
  margin: 30px;
  bottom: 0;
  right: 0;
  z-index: 400;
}
