@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
#header {
  background: none;
  height: auto;
}
#header > .container {
  background: #f9f3f1;
  margin: 0;
  padding: 0 15px;
  max-width: unset;
}
#header > .container > .holder-nav {
  width: 100%;
  margin: 0 auto;
  max-width: 1310px;
}
#header #nav {
  padding: 10px 0;
}
.title-h1, h1, .production h2, .title-h4, h4 {font-family: 'Arvo', serif;}
.list-product .holder-img:before {display: none;}
.list-product .holder-img img {position: relative;}
.logo-tomato {display: none;}
#wa-button {
  position: fixed !important;
  margin: 30px;
  bottom: 0;
  right: 0;
  z-index: 400;
}
div.dishes ul {display: none;}
.production .production-card {
  filter: none;
}
@media (min-width: 960px) {
  .production .production-card {
    padding: 0 10px;
    margin-bottom: 20px;
  }
}
